<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
      <main>
        <form class="register-form">
            <h1>Register</h1>
            <div>
                <label>First Name: </label>
                <input type="text" name="f_name" required>
            </div>
            <div>
                <label>Last Name: </label>
                <input type="text" name="l_name" required>
            </div>
            <div>
                <label>Email: </label>
                <input type="email" name="email" required>
            </div>
            <div>
                <label>Password: </label>
                <input type="password" name="password" required>                
            </div>
            <div>
                <label>Confirm Password: </label>
                <input type="password" name="password" required>                
            </div>
            <div>
                <input type="submit" name="submit" value="Register">
            </div>           
        </form>
    </main>
</body>
</html>