<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% for msg in messages %}
        <div class="alert alert-{{msg.tags}}" role="alert">
            {{msg}}
        </div>
    {% endfor %}
      <main>
        <form class="register-form" method="post" action="{% url 'signup' %}" onsubmit="return PasswordValidate()" enctype="multipart/form-data">            
            {% csrf_token %}
            <h1>Register</h1>
            <div>
                <label>First Name: </label>
                <input type="text" name="f_name" required>
            </div>
            <div>
                <label>Last Name: </label>
                <input type="text" name="l_name" required>
            </div>
            <div>
                <label>Profile Picture: </label>
                <input type="file" name="profile_picture">
            </div>
            <div>
                <label>Email: </label>
                <input type="email" name="email" required>
            </div>
            <div>
                <label>Password: </label>
                <input type="password" name="password" id="password" required>                
            </div>
            <div>
                <label>Confirm Password: </label>
                <input type="password" name="password" id="confirm_password" required>                
            </div>
            <div>
                <input type="submit" name="submit" value="Register">
            </div>           
        </form>
    </main>
    <script>
        function PasswordValidate(){
            let password=document.getElementById("password").value;
            let con_password=document.getElementById("confirm_password").value;
            if(password==con_password){
                return true;
            }
            else{
                alert("Password mismatch!");
                return false;
            }
                
        }
    </script>
</body>
</html>