{% extends "base.html" %}

{% block title %}Add Author{% endblock%}

{% block content %}   

    <h1>Add - Author</h1>
    <div>
        <form method="post" action="{% url 'create_author' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <div>
                <label>Author name : </label>
                <input type="text" name="author_name">
            </div>
            <div>
                <label>Place : </label>
                <input type="text" name="place">
            </div>
            <div>
                <label>Date of birth : </label>
                <input type="date" name="dob">
            </div>
            <div>
                <label>Author Image : </label>
                <input type="file" name="picture">
            </div>
            <div>
                <label>About :</label><br>
                <textarea name="about"></textarea>
            </div>
            <div>
                <input type="submit" value="Add Author">
            </div>

        </form>
    </div>

{% endblock %}