{% extends "base.html" %}

{% block title %}All Authors{% endblock %}

{% block content %} 

    <h1>All Authors</h1>
    <main id="list-authors">

        {% comment %} <ul>
            {% for writter in authors%}
                <li>{{writter.name}}</li>
            {% endfor %}
        </ul> {% endcomment %}
        <div class="authors-list">
            {% for writter in authors %}
                <div class="card">
                    {% comment %} <img src="{{writter.image_url}}" style="width:100px;height:100px;"> {% endcomment %}
                    <img src="{{writter.image.url}}">
                    <h4>{{writter.name}}</h4>
                    <p>{{writter.place}}</p>
                    {% comment %} <a href="/author-details/{{writter.id}}">View Details</a>  {% endcomment %}
                    <a href="{% url 'author-details' writter.slug %}">View Details</a> 
                </div>                
            {% endfor %}            
        </div>
    </main>

{% endblock %}
