<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Author Details</title>
</head>
<body>
   <nav>
        <a href="{% url 'dashboard' %}">Dashboard</a>
        <a href="{% url 'create_author' %}">Add Author</a>
        <a href="{% url 'list_authors' %}">All Authors</a>
    </nav>
    <h1>Author Details</h1> 
    <div>
        <div>                
            <img src="{{author.image.url}}" style="width:100px;height:100px;">
        </div>
        <div>
            <h2>{{author.name}}</h2>
            <p>{{author.place}}</p>
            <p>{{author.dob}}</p>
            <p>{{author.about}}</p>
            <a href="{% url 'edit-author' author.slug %}">Edit Details</a>
            <a href="{% url 'delete-author' author.slug %}" onclick="return confirmDelete()">Delete Author</a>
        </div>        
    </div>
    <script>
        function confirmDelete(){
            let choice=confirm("Do you wish to delete {{author.name}} ?")
            return choice
        }
    </script>

</body>
</html>