{% extends "base.html" %}

{% block title %}Book Details{% endblock %}

{% block content %} 

    {% for msg in messages %}
        <div class="alert alert-{{msg.tags}}" role="alert">
            {{msg}}
        </div>
    {% endfor %}

    <h1>Book Details</h1> 
    <div class="row">
        <div class="col-md-4">                
            <img src="{{book.image.url}}" style="width:100px;height:100px;">
        </div>
        <div class="col-md-8">
            <h3>{{book.book}}</h3>
            <ul>
                <li>Category    : {{book.category}}</li>
                <li>Author      : {{book.author}}</li>
                <li>Publish Date: {{book.publish_date}}</li>
                <li>Price       : {{book.price}}</li>
            </ul>
            <p>{{book.about}}</p>

            <p>Likes : {{book.likes_count}}</p>
             <a href="{% url 'book_like' book.slug %}">{% if is_liked %}<i class="fa-solid fa-thumbs-up"></i>{% else %}<i class="fa-regular fa-thumbs-up"></i>{% endif %}</a>

            <a href="{% url 'update-book' book.slug %}" class="btn btn-success">Update Details</a>
            <form method="post" action="{% url 'delete-book' book.slug %}">
                {% csrf_token %}
                <input type="submit" class="btn btn-danger" onclick="return confirmDelete()" value="Delete Book">
            </form>
        </div>        
    </div>
    <script>
        function confirmDelete(){
            let choice=confirm("Do you wish to delete {{book.book}} ?")
            return choice
        }
    </script>
    
{% endblock %}