{% extends "base.html" %}

{% block title %}Edit Authors{% endblock %}

{% block content %}  

    <h1>Edit -Author</h1>
    <div>
        <div>
            <img src="{{writer.image.url}}">
        </div>
        <form method="post" action="{% url 'edit-author' writer.slug %}" enctype="multipart/form-data">
            {% csrf_token %}            
            <div>
                <label>Author name : </label>
                <input type="text" name="author_name" value="{{writer.name}}">
            </div>
            <div>
                <label>Place : </label>
                <input type="text" name="place" value="{{writer.place}}">
            </div>
            <div>
                <label>Date of birth : </label>
                <input type="date" name="dob" value="{{writer.dob|date:'Y-m-d'}}">
            </div>
            <div>
                <label>Author Image : </label>
                <input type="file" name="picture">
            </div>
            <div>
                <label>About :</label><br>
                <textarea name="about" >{{writer.about}}</textarea>
            </div>
            <div>
                <input type="submit" value="Save Changes">
            </div>

        </form>
    </div>
    
{% endblock %}