<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit - Author</title>
</head>
<body>
    <nav>
        <a href="{% url 'dashboard' %}">Dashboard</a>
        <a href="{% url 'create_author' %}">Add Author</a>
        <a href="{% url 'list_authors' %}">All Authors</a>
    </nav>  
    <h1>Edit -Author</h1>
    <div>
        <div>
            <img src="{{writer.image.url}}">
        </div>
        <form method="post" action="{% url 'edit-author' writer.slug %}" enctype="multipart/form-data">
            {% csrf_token %}            
            <div>
                <label>Author name : </label>
                <input type="text" name="author_name" value="{{writer.name}}">
            </div>
            <div>
                <label>Place : </label>
                <input type="text" name="place" value="{{writer.place}}">
            </div>
            <div>
                <label>Date of birth : </label>
                <input type="date" name="dob" value="{{writer.dob|date:'Y-m-d'}}">
            </div>
            <div>
                <label>Author Image : </label>
                <input type="file" name="picture">
            </div>
            <div>
                <label>About :</label><br>
                <textarea name="about" >{{writer.about}}</textarea>
            </div>
            <div>
                <input type="submit" value="Save Changes">
            </div>

        </form>
    </div>
</body>
</html>