.authors-list{
    display: flex;
    gap: 10px;
    background-color: rgb(203, 145, 250);
    padding: 5px 5px 5px 5px;
    border: 1px;
}

.card img{
    height: 300px;
    width:200px;
}
.card a{
    text-decoration: none;
    padding: 6px 5px;
    background-color: greenyellow;
    border-radius: 8px;
}